<ion-view view-title="<img src='img/logo.png' style='width:120px;'>">
    
  <ion-content>
   <ion-item ng-show="user.profileid" class="list card new-feed" type="item-text-wrap" >
<div class="item item-divider">
    Create new feed
  </div>  
        <form ng-submit="addFeed()">
            <div class="item item-body">
        
                <a href="" ng-click="takePicture()" ng-show="newFeed.image === '' "><div class="dot-border"><span class="ion-image newfeed animated pulse"></span></div></a>
                <img class="full-image" ng-show="newFeed.image !== undefined" ng-src="{{newFeed.image}}">
                <input type="text" ng-model="newFeed.image" style="display:none;">
                <label class="item item-input item-floating-label">
                    <span class="input-label">Description</span>
                    <textarea class="msd-elastic" placeholder="Description" ng-model="newFeed.text"></textarea>
                </label>
        
            </div>
       
            <button type="submit" class="button button-block button-dark">Create</button>
        </form>
    </ion-item>   
      
      
      
      <ion-refresher on-refresh="refresh()"></ion-refresher>
    <ion-list>
      <div class="nothing" ng-show="!feeds">Nothing going on in your area</div>
      <ion-item class="list card" ng-repeat="item in feeds" type="item-text-wrap" href="#">

      
          
     <button ng-show="item.profileid === user.profileid;" ng-click="showDropdown = !showDropdown" class="button icon ion-gear-a feed-settings "></button>     
     <ul class="dropdown hidden" ng-class="{ 'hidden': ! showDropdown }">
         <li><a ng-controller="feedCtrl" href="" ng-click="editModal.show(); getFeed(item.id)">Edit</a></li>
         <li><a ng-controller="feedCtrl" href="" ng-click="deleteModal.show(); getFeed(item.id)">Delete</a></li>
         
     </ul>
  <div class="item item-avatar" style="border-top: none;">
    
      <img src="{{item.avatar}}" alt="{{item.name}}'s avatar">
    <a href="#/profile/{{item.profileid}}" ><h2>{{item.name}}</h2></a>
    <p><time ng-show="!showFullTime" ng-click="showFullTime = !showFullTime" title="{{ item.created_date | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}" am-time-ago="item.created_date"></time><span ng-click="showFullTime = !showFullTime" ng-show="showFullTime">{{ item.created_date | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}</span></p>
    
  </div>

  <div class="item item-body">
    <div class="full-image">
    <img ng-show="item.image !== ''" class="full-image" src="{{item.image}}">
    </div>
    <p>
      {{item.text}}
    </p>
    <p>
      <a href="" ng-show="!item.liked" ng-click="likeFeed(item.id)" class="subdued">{{item.likes.length}} Like<span ng-show="item.likes.length !== 1">s</span></a>
      <a href="" ng-show="item.liked" ng-click="unlikeFeed(item.id)" class="subdued" style="color:#ccc;">{{item.likes.length}} Like<span ng-show="item.likes.length !== 1">s</span></a>
      <a ng-controller="feedCtrl"  href="" ng-click="commentModal.show(); getFeed(item.id)" class="subdued">{{item.comments.length}} Comments</a>
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
      
    <a class="tab-item" href="" ng-show="!item.liked" ng-click="likeFeed(item.id)">
      <i class="icon ion-thumbsup"></i>
      Like
    </a>
    <a class="tab-item" href="" ng-show="item.liked" ng-click="unlikeFeed(item.id)" style="color:#ccc;">
      <i class="icon ion-thumbsup"></i>
      Liked
    </a>      
    <a ng-controller="feedCtrl"  class="tab-item" href="" ng-click="commentModal.show();getFeed(item.id)">
      <i class="icon ion-chatbox"></i>
      Comment
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
      Share
    </a>
  </div>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>




