<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <!-- custom directives --> 
    <!-- load momentJS (required for angular-moment) -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>

    <!-- load angular-moment -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-moment/0.9.0/angular-moment.min.js"></script>    
    <script src="lib/directives/elastic.js"></script>
    <script src="lib/directives/ng-cordova.min.js"></script>
    
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>


    
    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
    
    
  </head>
  <body ng-app="main">
    <ion-nav-view></ion-nav-view>     
    <!--
      The nav bar that will be updated as we navigate between views.
    -->
    <ion-side-menus ng-controller="NavCtrl" ng-show="login">
        <!-- Center content -->
        <ion-side-menu-content>
            
            <ion-nav-bar class="bar-dark main-header">
                
                
                <ion-nav-back-button>
                    Back
                </ion-nav-back-button>
                
                
                <ion-nav-buttons side="left">
                    <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()" style="margin-top: 2px;">
                    </button>
                </ion-nav-buttons>
                
                
                <ion-nav-buttons side="right" >
                    <button ng-controller="ProductCtrl" class="button button-icon button-clear uber-icon" ng-click="modal.show()" style="margin-top: 2px;">
                    </button>
                </ion-nav-buttons>  
                
                
            </ion-nav-bar>
        <ion-tabs class="tabs-icon-top ">
    
            <!-- Tabs not shown in main tab menu -->   

            <ion-tab class="hidden" title="" icon-off="" icon-on="" href="#">
                <ion-nav-view name="other"></ion-nav-view>
            </ion-tab>

  
  
            <!-- Main tabs -->   
  

            <!-- Home Tab -->
            <ion-tab title="Home" icon-off="ion-ios7-home-outline" icon-on="ion-ios7-home" href="#/home">
                <ion-nav-view name="home"></ion-nav-view>
            </ion-tab>




            <!-- Search Tab -->
            <ion-tab class="center-tab search" title="" icon-off="" icon-on="" href="#/search" >
                <ion-nav-view name="search"></ion-nav-view>
            </ion-tab>


<!--
             Camera Tab 
                <ion-tab class="center-tab camera" title="" icon-off="" icon-on="" href="#/search" >
                    <ion-nav-view name="search"></ion-nav-view>
                </ion-tab> 
            -->

            
          <!-- Coupons Tab -->
            <ion-tab title="Coupons" icon-off="ion-ios7-pricetags-outline" icon-on="ion-ios7-pricetags" href="#/coupons">
                <ion-nav-view name="coupons"></ion-nav-view>
            </ion-tab>


        </ion-tabs>
            
            
        </ion-side-menu-content>
        <!-- Left menu -->
        <ion-side-menu side="left">
            <ion-header-bar class="settings bar-dark">
                <h1 class="title">Settings</h1>
            </ion-header-bar>
            <ion-content>
                <ul class="list" ng-controller="NavCtrl">
                    <!-- Note each link has the 'menu-close' attribute so the menu auto closes when clicking on one of these links -->
                    <a ng-show="user.profileid" href="#/profile/{{user.profileid}}" ng-click="" class="item" menu-close>Business profile</a>
                    <a ng-show="!user.profileid" href="" ng-click="" class="item" menu-close>Get business profile</a>
                    <a href="#/account" class="item" menu-close>Account</a>
                    <a href="#/settings" class="item" menu-close>Settings</a>
                    <a href="" ng-click="logout()" class="item" menu-close>Logout</a>
                    
                </ul>
            </ion-content>
        </ion-side-menu>
    </ion-side-menus>

    
<!--
      The views will be rendered in the <ion-nav-view> directive below
      Templates are in the /templates folder (but you could also
      have templates inline in this html file if you'd like).
    -->

  </body>

  
</html>
